<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.couple">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".Custom.Handler.Notification.UpdateDataAlarm"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

        <receiver
            android:name=".Custom.Handler.Notification.ManualUpdateDataAlarm"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

        <activity
            android:name=".View.Main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore=",DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.Bridge.FindingBridgeActivity" />

        <activity android:name=".View.Bridge.SelectiveBridgeActivity" />

        <activity android:name=".View.JackpotStatistics.JackpotNextDayActivity" />

        <activity
            android:name=".View.Lottery.LotteryActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".View.Couple.BalanceCoupleActivity" />

        <activity android:name=".View.Couple.CoupleByWeekActivity" />

        <activity android:name=".View.JackpotStatistics.CoupleByYearActivity" />

        <activity android:name=".View.JackpotStatistics.JackpotThisYearActivity" />

        <activity android:name=".View.JackpotStatistics.JackpotAllYearActivity" />

        <activity
            android:name=".View.JackpotStatistics.JackpotByYearActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".View.Bridge.ReferenceBridgeActivity" />

        <activity android:name=".View.Bridge.BridgeCombinationActivity" />

        <activity android:name=".View.SubScreen.ExperianceActivity" />

        <activity android:name=".View.SubScreen.NoteActivity" />

        <activity android:name=".View.SubScreen.NoteInfoActivity" />

        <activity
            android:name=".View.BridgeHistory.SexagenaryCycleActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".View.BridgeHistory.NumberSetHistoryActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".View.SubScreen.CycleByYearActivity" />

        <activity android:name=".View.SubScreen.CalculatingBalanceCoupleActivity" />

        <activity android:name=".View.UpdateDataInfo.UrlAndParamsActivity" />

        <activity android:name=".View.UpdateDataInfo.UrlAndParamsInfoActivity" />

        <activity android:name=".View.UpdateDataInfo.AddJackpotManyYearsActivity" />

        <activity android:name=".View.Account.SignInActivity" />

        <activity android:name=".View.Account.SignUpActivity" />

        <activity android:name=".View.Account.ChangePasswordActivity" />

    </application>

</manifest>